*{
    padding:0;
    margin:0;
    font-family:lato;
}
/*----Reuse Component----*/
.container{
    width:1440px;
    margin:auto;
    padding:70px 0px;
}
.section_title{
    font-size:40px;
    font-weight: 900;
    text-align: center;
    margin-bottom:25px;
}
.section_discription{
    font-size:18px;
    color: #272727ad;
    text-align: center;
}
/**----Banner Section Start----*/
.banner_container{
    width:1440px;
    margin:auto;
    padding:0 !important;
}
.banner{
    background:#E5547329;
    height:800px;
}
.banner_container{
    display:flex;
    gap:0px 90px;
    align-items: center;
    justify-content: space-between;
    overflow:hidden;
}
.banner_heading{
    font-size:80px;
    font-weight:900;
    color:#272727;
    margin-bottom:32px;
}
.banner_discription{
    margin-bottom:32px;
}
.btn_primary {
    background: #E55473;
    color: #fff;
    font-size: 20px;
    border: 0;
    padding: 20px 35px;
    border-radius: 10px;
    margin-bottom:32px;
  }
  /*----Featured Section Start----*/
.featuredImgBox{
    display: flex;
}
.featuredImg {
    width: 33.33%;
    display: block;
    margin:40px auto 0 auto;
  }
.fImg {
    max-width: 70% !important;
    margin: 0 auto;
    display: block;
    background: red;
    height: 440px;
    padding: 70px 70px 0px 70px;
    border-radius: 50% 50% 0 0;
  }
.fImg1{
    background:#a7216226;
  }
.fImg2{
    background:#0597A02B;
}
.fImg3{
    background:#477D1138;
}
  .flowerName {
    font-size: 1.5rem;
    text-align: center;
    margin: 25px 0 0 0;
    color: #272727;
    font-weight:600;
  }
/*----Feather Section Start----*/
.feather_container{
    background: #27272718;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    overflow:hidden;
}
.featherBox {
    width: 450px;
    display: block;
    margin: auto;
    text-align: center;
  }
  .featherImg{
    margin-bottom:25px;
  }
/*----Deal Section Start----*/
.deal{
    background:#e5547312;
    margin-top:80px;
}
.deal_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
.off {
    color: #e55473;
  }
.deal_column{
    text-align: center;
  }
.deal_column img{
    margin-left: auto;
}
.deal_description{
    width:590px;
    margin: auto;
}
.dealBtn{
    margin-top:30px;
}
/*----Instagram Section Start----*/
.instagramDescription{
    width:590px;
    margin: auto;
}
.instagram_image_box{
    margin-top:50px;
}
.instagramImg{
    width:325px;
    margin:0px 15px;
}
/*----Newslatter Section Start----*/
.newsLatterContainer{
    background: url(../Flower_Asset/Rectangle\ 9.png);
    margin-bottom:70px;
}
form{
    width: 860px;
    margin:auto;
    margin-top:50px;
}
form input[type="email"] {
    width: 650px;
    margin-right: 15px;
    padding: 20px 10px 20px 21px;
    border: 0;
    background: #fff;
    box-shadow: 5px 2px 5px #33333354;
    border-radius: 5px;
    font-size: 18px;
    color: #272727;
  }
/*----Footer Section Start----*/
footer{
    background:#111010;
}
.footerTitle{
    color:#fff;
}
.footerDesignText{
    color:#E55473;
}
.footerDescription{
    width:625px;
    margin:auto;
    color:#ffffff94;
}
.copyrightText{
    color:#ffffff4f;
    font-size:16px;
    text-align: center;
    margin-top:25px;
}

/*media quaries start*/
/*mobile device and max width 575px*/
@media screen and (max-width:575px){
    .container{
        overflow:hidden;
        max-width:100%;
    }
    .section_title{
        font-size:30px;
    }
    .section_discription {
        max-width: 90%;
        font-size: 17px;
        text-align: center;
        display: block;
        margin: 15px auto;
      }
    /*banner section start*/
    .banner{
        overflow:hidden;
        padding:70px 0 0 0;
    }
    .banner_container{
        display:flex;
        flex-direction:column;
        align-items: flex-start;
        padding: 15px !important;
        max-width:100% !important;
    }
    .banner_heading{
        font-size:2.8rem;
        text-align:center;
        max-width:90%;
    }
    .btn_primary{
        font-size:18px;
        margin:0 auto 20px auto;
        padding:10px 20px;
        display: block;
    }
    .banner_image {
        max-width: 81%;
        display: block;
        margin: auto;
      }
    /*featured section start*/
    .featuredImgBox {
        flex-direction: column;
      }
      .featuredImg {
        width: 80%;
        margin: 10px auto 10px auto;
      }
    .fImg {
        max-width: 80% !important;
        padding: 10% 10% 0% 10%;
      }
    /*feather section start*/
    .container.feather_container {
        flex-direction: column;
        gap: 45px;
      }
    .featherBox{
        max-width: 80% !important;
    }
    /*----deal section start----*/
    .container.deal_container {
        flex-direction: column;
      }
    .deal_column{
        max-width: 100% !important;
      }
    .deal_column img{
        max-width: 80%;
    }
    .deal_description {
        width: 80% !important;
        margin: 0 auto 20px auto;
        display: block;
      }
    /*----instagram section start----*/
    .instagramImg {
        width: 80%;
        margin: 15px auto;
        display: block;
      }
    /*----newslatter section start----*/
    form{
        max-width: 100% !important;
      }
    form input[type="email"] {
        width: 90% !important;
        margin: 0 auto 20px auto;
        display: block;
      }
}
/*medium device and min width 576px*/
@media screen and (min-width:576px) and (max-width:960px) {
  /*reused componene start*/
  .container{
    overflow:hidden;
    max-width:100%;
    padding: 50px;
}
.section_discription {
  max-width: 80% !important;
  margin: 30px auto;
}
 /*banner section start*/
.banner{
  overflow:hidden;
  padding:70px 0 0 0;
}
.banner_container{
  display:flex;
  flex-direction:column;
  align-items: flex-start;
  padding: 15px !important;
  max-width:100% !important;
}
.banner_heading{
  font-size:2.8rem;
  text-align:center;
  max-width:90%;
}
.banner_discription {
  max-width: 90%;
  margin: 0 auto 32px auto;
}
.btn_primary{
  font-size:18px;
  margin:0 auto 20px auto;
  padding:10px 20px;
  display: block;
}
.banner_image {
  max-width: 81%;
  display: block;
  margin: auto;
}
/*featured section start*/
.featuredImgBox {
  display: flex;
  flex-direction: column;
}
.featuredImg {
  width: 100% !important;
}
.fImg {
  max-width: 100% !important;
}
/*deal section start*/
.deal_container {
  display: flex;
  flex-direction: column;
}
/*instagram section start*/
.instagramImg {
  width: 46%;
  margin: 10px 10px;
}
/*newslatter section start*/
form {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
form input[type="email"] {
  width: 100%;
  margin: 15px;
}
}